<div class="container">
  <h2>Product List</h2>

  <div class="card">
    <mat-form-field appearance="outline">
      <mat-label>Search by ID</mat-label>
      <input matInput [(ngModel)]="productId" placeholder="If you do not enter ID, all will be loaded">
    </mat-form-field>
    <button mat-button color="accent" (click)="getProductById()">Search</button>
  </div>

  <div class="grid">
    <mat-card *ngFor="let product of products" class="product-card">
      <mat-card-header>
        <mat-card-title class="custom-title">{{ product.title }}</mat-card-title>
        <mat-card-subtitle>Category: {{ product.category }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="product.images[0]" alt="Product Image" (error)="onImageError($event)">

      <mat-card-content>
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p><strong>Tax:</strong> ${{ product.tax }}</p>
        <p><strong>Total:</strong> ${{ product.total }}</p>
      </mat-card-content> 
    </mat-card>
  </div>
</div>

